<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="{% static "dist/styles.css" %}">
</head>
<body>
  <div class="flex justify-center items-center h-screen">
    <h1 class="text-9xl">
      <span class="text-gray-100">For </span>
      <span class="text-gray-200">Rea</span><span class="text-gray-300">sons </span>
      <span class="text-gray-400">Un</span><span class="text-gray-500">known.</span>
    </h1>
  </div>
</body>
</html>
